﻿@model LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        Logget ut
        <small>Du er nå logget ut</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            Klikk <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">her</a> for å returnere til
            <span>@Model.ClientName</span>.
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
