@model LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1>Logg inn</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="panel panel-default">

                    <div class="panel-body">

                        <form asp-route="Login" id="loginForm">
                            <input type="hidden" asp-for="ReturnUrl" />

                            <fieldset>
                                <legend>Logg inn med brukernavn og passord</legend>
                                <div class="form-group">
                                    <label asp-for="Username">E-post</label>
                                    <input type="email" class="form-control" placeholder="E-post" asp-for="Username" id="UsernameId" aria-required="true" aria-describedby="error-message-username validationSummary">
                                    <span asp-validation-for="Username" id="error-message-username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password">Passord</label>
                                    <input type="password" class="form-control" placeholder="Passord" asp-for="Password" aria-required="true" aria-describedby="error-message-password validationSummary" autocomplete="off">
                                    <span asp-validation-for="Password" id="error-message-password" class="text-danger"></span>
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong>Husk min innlogging</strong>
                                        </label>
                                    </div>}
                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="login">Logg inn</button>
                                    <button class="btn btn-default" name="button" value="cancel">Avbryt</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-controller="External"
                                       asp-action="Challenge"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
</div>