﻿@model LogoutViewModel

<div class="logout-page">
    <div class="page-header">
        <h1>Logg ut</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>Vil du logge av?</p>
            <form asp-action="Logout">
                <input type="hidden" name="logoutId" value="@Model.LogoutId"  />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">Ja</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>