﻿@if (ViewContext.ModelState.IsValid == false)
{
    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert" aria-live="assertive" aria-atomic id="validationSummary" aria-invalid="true" tabindex="0">
        <strong>Feil ved innlogging</strong>
        <div role="alert" aria-live="assertive" aria-atomic class="danger"></div>
    </div>
}